---
layout: yifan-homepage
title: "Talks & Posters"
permalink: /talks/
---

<div class="wrapper">
  {% include homepage-nav.html %}

  {% include homepage-profile.html %}

  <main id="main-content">
    <div class="talks-section">
      <h2>Talks & Posters</h2>

      {% assign talks_list = site.talks | reverse %}
      {% for post in talks_list %}
      <div class="project-container">
        <table class="pub-table">
          <tr>
            <td class="content-col" style="width: 100%;">
              <div class="pub-title">
                {{ post.title }}
              </div>
              <div class="pub-venue">{{ post.venue }}{% if post.location %}, {{ post.location }}{% endif %}{% if post.event_date %}, {{ post.event_date }}{% endif %}</div>
              {% if post.poster_url %}
              <div class="text-links">
                <a href="{{ base_path }}{{ post.poster_url }}" class="text-btn">Poster</a>
              </div>
              {% endif %}
            </td>
          </tr>
        </table>
      </div>
      {% endfor %}
    </div>
  </main>
</div>
